.content-container {
    position: absolute;
    left: 265px;
    width: 65%;
    margin-top: 110px;
    z-index: -2;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    transition: 0.4s;
    border-radius: 20px;
    transition: 0.4s;
}

#info {
    width: 100%;
    height: 150px;
}

#info-line {
    margin-left: auto;
    margin-right:auto;
    height: 1px;
    width: 62%;
    background-color: rgb(109, 109, 109);
}

#head {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 7px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

/* Search */

.searchbar {
    background-color: rgb(42, 42, 42);
    color: white;
    font-size: 15px;
    height: 40px;
    width: 300px;
    margin-left: 320px;
    border: none;
    border-bottom: 2px solid grey;
    padding: 2px;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
}

#searchbutton {
    color: white;
    background-color: rgb(68, 75, 68);
    margin-left: -4px;
    width: 70px;
    margin-top: 1px;
    height: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

    #searchbutton:hover {
        cursor: pointer;
        background-color: rgb(95, 95, 95);
    }

/*    */

#content {
    z-index: 3;
    margin-top: 30px;
    width: 75%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 112px;
    margin-bottom: 30px;
    border: 4px solid rgb(175, 175, 175);
}

#content-left {
    position: absolute;
    width: 320px;
    height: 200px;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
}

#content-line {
    margin-left: 344px;
    position: absolute;
    height: 180px;
    width: 2px;
    margin-top: 20px;
    background-color: rgb(199, 198, 198);
}

#content-right {
    position: absolute;
    margin-top: 40px;
    margin-left: 350px;
    width: 320px;
    height: 200px;
}

#endline {
    border-radius: 10px;
    margin-left: 42px;
    margin-top: 170px;
    width: 87%;
    height: 1px;
    background-color: rgb(212, 212, 212);
}

/* Chua checkkk */

#edit {
    position: absolute;
    width: 23px;
    transition: 0.2s;
    margin-left: 560px;
    margin-top: 10px;
    float: left;
}

#delete {
    margin-top: 6px;
    margin-left: 620px;
    position: absolute;
    width: 30px;
    transition: 0.2s;
}

    #edit:hover, #delete:hover {
        cursor: pointer;
        transform: scale(1.15);
        transition: 0.2s;
    }

/*delete popup*/
.pop-delete-background {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.pop-delete {
    z-index: 20;
    position: fixed;
    width: 300px;
    height: 180px;
    margin-top: 260px;
    margin-left: 590px;
    background-color: white;
    border-radius: 4px;
    border: 3px solid green;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
}

b {
    font-size: 17px;
}

#role-info {
    font-size: 15.5px;
    margin-left: 3px;
    margin-top: 6px;
}

#content {
    z-index: 3;
    margin-top: 30px;
    width: 75%;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 112px;
    margin-bottom: 30px;
    border: 4px solid rgb(175, 175, 175);
}

#info {
    width: 100%;
    height: 150px;
}


#option {
    border-radius: 20px;
    position: fixed;
    background-color: white;
    width: 110px;
    height: 80px;
    position: fixed;
    right: 0px;
    margin-right: -30px;
    margin-top: 260px;
    border: 5px solid brown;
}

#add {
    width: 40px;
    margin-top: 15px;
    margin-left: 19px;
    transition: 0.3s;
}

    #add:hover, #mess:hover {
        transform: scale(1.15);
        transition: 0.3s;
        cursor: pointer;
    }

#line {
    position: absolute;
    right: 0;
    margin-top: 73px;
    height: 2px;
    width: 109px;
    background-color: rgb(189, 189, 189);
}


#mess {
    width: 40px;
    margin-top: 35px;
    margin-left: 23px;
    transition: 0.3s;
}

/* pop up mess */

#popup-mess-background {
    position: fixed;
    margin-left: -8px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

#popup-mess-container {
    margin-left: 420px;
    margin-top: 190px;
    position: absolute;
    width: 600px;
    height: 400px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
}

#popup-mess-content {
    border: 2px solid rgb(190, 190, 190);
    margin-left: 75px;
    background-color: rgb(233, 233, 233);
    width: 450px;
    height: 250px;
    overflow: scroll;
}

#Xmess {
    position: static;
    font-size: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 91%;
    color: rgb(200, 200, 200);
}

    #Xmess:hover {
        color: rgb(126, 126, 126);
        cursor: pointer;
        transition: 0.4s;
    }

#mess-form {
    color: rgb(54, 152, 233);
    font-size: 30px;
    margin-top: -20px;
    margin-left: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mess-info {
    background-color: rgb(255, 255, 255);
    width: 433px;
    height: 120px;
    margin-top: 20px;
    border-radius: 8px;
    border-top: 6px solid red;
}

#mess-dt {
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* pop up */

#popup-background {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    margin-left: -194px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

#popup-container {
    margin-left: 460px;
    margin-top: 190px;
    position: absolute;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 6px;
}

#X {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    #X:hover {
        color: rgb(126, 126, 126);
        cursor: pointer;
        transition: 0.4s;
    }

.forgot-form {
    color: rgb(54, 152, 233);
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#pop-left {
    width: 40%;
    height: 260px;
    float: left;
    margin-left: 50px;
}

#horizon-line {
    margin-left: 299px;
    position: absolute;
    width: 2px;
    height: 280px;
    background-color: rgb(216, 214, 214);
}

#pop-right {
    width: 40%;
    height: 260px;
    margin-left: 310px;
}

input[type="radio"]:hover {
    cursor: pointer;
}

input[type="radio"] {
    margin-top: 8px;
}

.forgot-input:focus {
    border-bottom: 2px solid #8779ff;
    transition: 0.2s ease;
}

.forgot-input {
    margin-top: -20px;
    margin-left: 10px;
    display: block;
    box-sizing: border-box;
    padding: 4px;
    width: 220px;
    height: 36px;
    border: none;
    border-bottom: 1px solid rgb(96, 189, 243);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

    .forgot-input:focus {
        outline: none;
    }

.label {
    /*margin-top: 20;*/
    color: black;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#ignore {
    position: absolute;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    background-color: rgb(223, 11, 11);
    float: left;
    margin-left: 30px;
    opacity: 0.7;
    transition: 0.4s;
    border: none;
}

#check {
    position: absolute;
    margin-top: 20px;
    margin-left: 150px;
    width: 80px;
    height: 40px;
    background-color: rgb(30, 151, 30);
    opacity: 0.7;
    transition: 0.4s;
    border: none;
}

.checkicon {
    position: static;
    margin-left: 6px;
    margin-top: 2px;
    width: 30px;
    height: 30px;
}

.ignoreicon {
    position: absolute;
    margin-left: 29px;
    margin-top: 8px;
    width: 25px;
    height: 25px;
}

    .ignoreicon:hover, .checkicon:hover, #ignore:hover, #check:hover {
        opacity: 1;
        cursor: pointer;
        transition: 0.4s;
    }
