
@{
    Layout = "~/Views/Shared/Tutor_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/homepage.css">
    <meta name="viewport" content="width=device-width" />
    <title>Tutor Home Page</title>
</head>
<body>
    <div id="container">
        <a href="/tutor/Profile">
            <div id="account">
                <img id="staffimg" src="~/Content/images/staff.png">
                <h1>Profile Management</h1>
            </div>
        </a>

        <a href="/tutor/MyCourse">
            <div id="manage-account">
                <img id="accountimg" src="~/Content/images/account.png">
                <h1>View Course</h1>
            </div>
        </a>

    </div>
</body>
</html>
